
<div class="login">
  <p class="sign">Log in</p>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="email_box"><%= f.email_field :email, class: 'email', :placeholder => "Email" %></div>
    <div class="pass_box"><%= f.password_field :password, class: 'pass', :placeholder => "Password" %></div>
    <%= f.submit "Log in", class: 'login_button' %>
  <% end %>
</div>
