
.header_container {
  height: 40px;
  min-width: 100vw;
  background-color: #4267B2;
  display: inline-flex;
  justify-content: space-between;

  .title {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 35px;
    line-height: 28px;
    padding: 4px 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    background: -webkit-linear-gradient(0deg, #c5acac, #ff8407);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .headers {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    margin-top: 8px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;

    .a {
      cursor: pointer;
    }
  }
}

.body {
  background-color: #E9EBEE;
  min-width: 100vw;
  min-height: calc(100vh - 40px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.body_mid {
  width: 80vw;
}

.nav-link {
  float: right;
}


.tweet_box {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding-left: 1rem;



  .tweet_head {
    display: flex;
    justify-content: space-between;

    .tweet_head_index_user_created_at {

      .user_n {
        font-size: 30px;
      }
    }

    .tweet_head_buttons {
      display: flex;
      flex-direction: column;
      padding: 3px;

      .show_button {
        color: darkseagreen;
        background-color: #fff;
        border: 1px solid darkseagreen;
        border-radius: 4px;
        padding: 0 15px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


.buttons {
  color: #1D9AF2;
  background-color: #fff;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}


.delete_button {
  color: palevioletred;
  background-color: #fff;
  border: 1px solid palevioletred;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

}

.tweet_content_picture {
}


.link {
  color: white;
}